@page
@model webapp.Pages.Users.DeleteModel

@{
    ViewData["Title"] = "Delete User";
}

<head>
    <base href="../../../">
    <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
</head>

<div class="card card-custom">
    <div class="card-header">
        <h3 class="card-title">
            Delete User
        </h3>
        <div class="card-toolbar">
            <div class="example-tools justify-content-center">
                <span class="example-toggle" data-toggle="tooltip" title="View code"></span>
                <span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
            </div>
        </div>
    </div>
    <!--begin::Form-->
    <form method="post">
        <div class="card-body">
            <div class="form-group">
                <label asp-for="UserModel.UserName">Username<span class="text-danger">*</span></label>
                <input disabled="disabled" asp-for="UserModel.UserName" type="text" class="form-control" placeholder="UserName" />
                <span asp-validation-for="UserModel.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel.FullName">Fullname</label>
                <input disabled="disabled" asp-for="UserModel.FullName" type="text" class="form-control" placeholder="FullName" />
                <span asp-validation-for="UserModel.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel.Email">Email<span class="text-danger">*</span></label>
                <input disabled="disabled" asp-for="UserModel.Email" type="Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="UserModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel.Roles">Roles</label>
                <input disabled="disabled" asp-for="UserModel.Roles" type="text" class="form-control" placeholder="Roles: e.g: Admin, SuperAdmin" />
                <span asp-validation-for="UserModel.Roles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel.Password">Password</label>
                <input disabled="disabled" asp-for="UserModel.Password" type="text" class="form-control" placeholder="Password" />
                <span asp-validation-for="UserModel.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel.JoinedAt">Joined Date</label>
                <input disabled="disabled" placeholder="@Model.UserModel.JoinedAt.ToLocalTime().ToString(@Model.DateFormat)" type="text" class="form-control" />
                <span asp-validation-for="UserModel.JoinedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserModel.UpdatedAt">Updated Date</label>
                <input disabled="disabled" placeholder="@(Model.UserModel.UpdatedAt.HasValue ? Model.UserModel.UpdatedAt.Value.ToLocalTime().ToString(@Model.DateFormat) : null)" type="text" class="form-control" />
                <span asp-validation-for="UserModel.UpdatedAt" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" asp-route-id="@Model.UserModel.Id" class="btn btn-danger mr-2">Delete</button>
            <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
        </div>
    </form>
    <!--end::Form-->
</div>

@section Scripts{
@{
    <partial name="_ValidationScriptsPartial" /> }
}
