@page
@model webapp.Pages.Categories.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<head>
    <base href="../../../">
    <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
</head>

<div class="card card-custom">
    <div class="card-header">
        <h3 class="card-title">
            Delete Category
        </h3>
    </div>
    <!--begin::Form-->
    <form class="form" method="post">
        <input asp-for="@Model.Category.Id" hidden />
        <div class="card-body">
            <div class="form-group">
                <label asp-for="@Model.Category.Name">Name</label>
                <input type="text" class="form-control" disabled="disabled" placeholder="@Model.Category.Name" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Category.CreatedAt">Created Date</label>
                <input type="text" class="form-control" disabled="disabled" placeholder="@Model.CreatedAt" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Category.UpdatedAt">Last Modified</label>
                <input type="text" class="form-control" disabled="disabled" placeholder="@Model.UpdatedAt" />
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-danger mr-2">Delete</button>
            <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
        </div>
    </form>
    <!--end::Form-->
</div>
@section Scripts{
@{
    <partial name="_ValidationScriptsPartial" /> }
}
