@page
@model webapp.Pages.Categories.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<head>
    <base href="../../../">
    <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
</head>

<div class="card card-custom">
    <div class="card-header">
        <h3 class="card-title">
            Edit Category
        </h3>
        <div class="card-toolbar">
            <div class="example-tools justify-content-center">
                <span class="example-toggle" data-toggle="tooltip" title="View code"></span>
                <span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
            </div>
        </div>
    </div>
    <!--begin::Form-->
    <form method="post">
        <div class="card-body">
            <div class="form-group">
                <label asp-for="Category.Name">Name<span class="text-danger">*</span></label>
                <input asp-for="Category.Name" type="text" class="form-control" placeholder="Category Name" />
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>
        </div>
        <input type="text" hidden asp-for="@Model.Category.UpdatedAt" value="@DateTimeOffset.UtcNow">
        <input type="text" hidden asp-for="@Model.Category.CreatedAt" value="@Model.Category.CreatedAt">
        <input type="text" hidden asp-for="@Model.Category.Id" value="@Model.Category.Id">
        <div class="card-footer">
            <input type="submit" value="Save" class="btn btn-success" />
            <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
        </div>
    </form>
    <!--end::Form-->
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}